@font-face {
     font-family: Stardos-Regular;
     src: url('../fonts/StardosStencil-Regular.ttf');
}

a:visited:active{
    color: #FF673B !important;
    text-decoration: none;
}
a:hover{
    color: #FF673B;
    text-decoration: underline;
}
nav .brand-logo{
    margin-left: 35px;
}
nav .brand-logo img{
    max-height: 68px !important;
    max-width: 100px;
    margin-top: -3px;
}
nav ul{
    height: inherit !important;
}

.container-small{
    width: 50%;
    margin:  0 auto;
}

div.midias nav{
    height: 30px;
    background-color: #303030;
}

div.midias nav img{
    max-width: 26px;
    margin-top: 3px;
}

header{
    background-color: #FF712C;
}

.header nav{
    background-color: #303030;
    height: 50px !important;
    width: 100%;
    line-height: 48px !important;
}
.header nav, .header nav .nav-wrapper i, .header nav a.sidenav-trigger, .header nav a.sidenav-trigger i{
    line-height: 48px !important;
}
ul li a:hover{
    color: #FF712C !important;
    text-decoration: none;
}
ul li a:visited {
    color: #ddd;
}

.dropdown-content{
    box-shadow: 0 !important;
    background-color: #303030 !important;
    top: 50px !important;
}
.dropdown-content a{
    color: #ddd !important;
    padding: 3px 16px !important;
}
.dropdown-content li{
    min-height: 28px !important;
}

footer div{
    background-color: #303030 !important;
    height: 30px;
    color: #ddd;
}
footer div p{
    padding-top: 4px;
}

@media only screen and (max-width: 600px) {
    #modalLogin .title h3{
        font-size: 1.50rem !important;
    }

    .container-small{
        width: 100%;
        margin:  0 auto;
    }
} 

h1.title{
    margin-top: 50px;
    font-family: Stardos-Regular;
}

i.tiny{
    width: 1rem !important;
}