.fse-intro{
    margin-top: 40px;
}
.title-image img{
    max-width: 240px;
}
h5{
    color: #FF712C;
}
.logo-parceiros img{
    max-width: 100px;
}
.registerToast{
    color: #FF712C;
    font-weight: bold;
}